<%= cl_image_tag @list.photo.key, style: 'height:400px;width:100%;object-fit:cover', crop: :fill, alt: "Image for #{@list.name}" %>
<%= link_to "Add to list", new_list_bookmark_path(@list), class: 'btn btn-primary' %>
<div class="container mt-3">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card pt-3 col-md-4 rounded shadow">
        <%= image_tag "#{bookmark.movie.poster_url}", alt: 'Movie image', class:"card-img-top"%>
        <div class="card-body">
          <%= bookmark.movie.title %>
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
